html* {
    text-align: center;
}heig

h2{
    margin: 0px;
    text-align: center;
}
img{ max-width:100%}

h1 {
    color: blue;
}

h2 {
    color: orange;
}

img {
        height: 300px;
    } 
    

